@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after body {
  position: relative;
  max-width: 100%;
}
body {
  background: #f5f8fa;
  width: 1440px;
  margin: auto;
  font-family: "lato", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .checkout {
    width: 82%;
  }
  .plan {
    width: 70%;
    margin-top: 50px;
    padding-left: 40px;
    margin: 15px auto;
    padding: 40px 50px;
    display: grid;
    justify-items: flex-start;
  }
  li > a {
    display: none;
  }
  .submit {
    width: 100%;
  }
  p.enquire {
    display: -webkit-inline-box;
  }
}
@media screen and (min-width: 500px) {
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 830px;
    width: 65%;
    margin: 130px 0 70px 0;

    box-shadow: 0px 15px 35px rgba(43, 64, 78, 0.095505),
      0px 5px 15px rgba(0, 0, 0, 0.0490829);
  }
  .checkout {
    width: 60%;
    order: -1;
  }
  .plan {
    width: 23%;
    padding: 30px 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 92.8%;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .footer {
    width: 25%;
  }
}
.basic-data {
  display: grid;
}

header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  border-bottom: 2px solid grey;
  position: fixed;
  z-index: 9;
  background-color: #f5f8fa;
}
.navbar {
  width: 40%;
}

.navbar > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: #1d2c3c;

  font-weight: 700;
  font-size: 1em;
}
.nav-link {
  list-style-type: none;
}
.nav-link > button {
  padding: 8px;
  border-radius: 7px;
}

.plan {
  background: #1179bf;
  color: #ffffff;
}

.plan > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

div.checkmark {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
}
.plan a {
  color: #ffffff;
  text-decoration-color: #b9f5ff;
  margin-top: 10px;
  line-height: 40px;
}

.plan > blockquote {
  margin: 0;
  padding: 30px 0;
}

.line {
  border-top: 1px solid #ffffff;
  width: 100%;
  opacity: 0.4;
}

.second {
  margin: 0px;
  padding-top: 50px;
  line-height: 30px;
  width: 95%;
  margin-top: 30px;
  font-style: italic;
}
.review {
  display: flex;
  gap: 20px;
}

.checkout {
  margin: 0;
  padding-left: 30px;
}
.checkout > h2 {
  padding: 30px 0px;
  border-bottom: 1px solid #f5f7fa;
  text-shadow: 0px 1px 2px rgb(128, 124, 124);
}
p > strong {
  font-size: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 2px solid #548bc5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #548bc5;
}

.heading {
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
form {
  width: 100%;
  display: grid;
  row-gap: 5px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f7fa;
}
.basic-data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
div.block1 {
  width: 47%;
}
div.block2 {
  width: 47%;
}
div.block3 {
  width: 70%;
  margin-top: 15px;
}
div.data-block {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
form input {
  height: 36px;
  background-color: #edeff2;
  border: #edeff2;
  border-radius: 4px;
  color: #646e7a;
  padding-left: 15px;
}
form input:focus {
  border: #edeff2;
}
.submit {
  height: 35px;
  margin-top: 20px;
  background-color: #038e7d;
  border: #038e7d;
  border-radius: 3px;
  width: 100%;
  color: #ffffff;
}
.submit:hover {
  background-color: #0ac7b1;
  border: #038e7d;
}
.enquire {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
}
.enquire strong {
  font-size: 1.4em;
  width: 20px;
  height: 20px;
}
.strong {
  font-weight: 700;
  padding: 3px;
}
.support {
  color: black;
  margin-left: 5px;
}
.num {
  font-size: 60px;
  font-weight: 300;
}
sup {
  font-size: 30px;
  vertical-align: top;
}
.footer {
  display: flex;
  color: rgb(248, 240, 240);
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #c7c2c2;
  border-radius: 5px;
}
footer {
  line-height: 30px;
  font-size: 13px;
  width: 70%;
  margin: 20px auto;
  color: #636b6f;
}
footer a {
  text-decoration: none;
  margin-left: 5px;
  color: #7192a3;
}
